@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    <ul class="navbar-nav ms-auto">
        <li class="nav-item">
            <a class="nav-link text-light" href="@Url.Action("Index", "Manage")">
                👋 Hola, @User.Identity.GetUserName()
            </a>
        </li>
        <li class="nav-item">
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "form-inline" }))
            {
               
            }
        </li>
    </ul>
}
else
{
    <ul class="navbar-nav ms-auto">
        <li class="nav-item">
            @Html.ActionLink("Iniciar Sesión", "Login", "Account", null, new { @class = "nav-link text-light" })
        </li>
        <li class="nav-item">
            @Html.ActionLink("Registrarse", "Register", "Account", null, new { @class = "nav-link text-light" })
        </li>
    </ul>
}
